.navbar {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    background: #c9bcff82;
}
.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    margin-left: 1em
}
.nav-link {
    color: red;
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler {
    background:#fff !important;
}
.header {
    position: relative;
    background-image: url('../images/4.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1 {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    color: #ffffff ;
}
.description p {
    color: #c0bebebc;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button {
    border:1px solid • #F97300;
    background: #24012f57;
    color: #fff;
}
.bg-light1 {
    --bs-bg-opacity: 1;
}
/* обо мне */
.about {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color: #390648d6;
    margin: 0em;
}
.about img{
    margin-top: 50px;
    width: 100%;
    border-radius: 50%
}
.about span{
    display: block;
    color: #3e3e3e;
    position: absolute;
    left: 115px;
}
.about .desc {
    padding: 2em;
    border-left: 4px solid #360645a0;
}
.about .desc h3{
    color: #24012fbf;
}
.about .desc p {
    line-height:2;
    color: #404040;
}
/* портфолио */
.carousel {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    max-width: 50%;
    margin: 0 auto;
}
.carousel h1 {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    margin: 20px;
    color: rgb(255, 255, 255) !important;
    text-align: center;
}
.carousel p {
    margin-bottom: -25px;
    color: rgba(255, 255, 255, 0);
}
.carousel-item {
    text-align: center;
}
.carousel-item img {
    max-height: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
}
.carousel-control-prev,
.carousel-control-next {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
    color: white;
}
.carousel-indicators {
    bottom: 10px;
}
.bg {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    background-image: url('../images/8.gif');
    background-size: 100%;
    min-height: 100px;
    max-height: 600px;
}
.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: white;
}
/* цены */
.row1 {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.head-price-list {
    color: #290347;
}
.cards {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    margin-top: 20px;
    background-color: #ffffff;
    align-items: center;
}
.price-list {
    text-align: center;
}
.price-list-overlay {
    color: #888;
    text-align: center;
}
#cards {
    text-align: center;
}

.card {
    display: inline-block;
    text-align: left;
    margin: 0 75px;
    margin-left: 50 !important;
    margin-right: 50 !important;
    margin-bottom: 10px;
}
.card {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.card-body {
    padding: rem;
}
.card-title {
    font-weight: bold;
}
.card-text {
    line-height: 1.5;
}
.btn {
    margin-top: 1rem;
}
.btn1 {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #b5b8ba;
    --bs-btn-bg: #290347;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.head-price-list {
    color:#280347c9;
}

/* форма */
.form-control1 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::-webkit-input-placeholder {
    color: white;
}
.contact-form {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/963101357590695442/F2EA0E91FACC914CD0DB035F7FEC41D5B458A287/?imw=512&amp;imh=277&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    padding: 50px 0;
    text-align: center;
}
.contact-form h1 {
    	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    font-size: 36px;
    color: rgb(255, 255, 255);
}
.contact-form .container {
    margin: 0 auto;
    padding: 0 15px;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 15px;
    font-size: 16px;
    color: #333;
}
.contact-form textarea.form-control {
    resize: none;
    border-radius: 5px;
}
.contact-form input.form-control {
    border-radius: 5px;
}
.contact-form input[type='submit'] {
    background: #29034797;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}
.contact-form input[type='submit']:hover {
    background: rgb(191, 0, 255);
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }